@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #222831;
    --color2: #256D85;
    --color3: #47B5FF;
    --color4: #DFF6FF;
    --color5: #FCFFB2;
}

.super {
    height: 100vh;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

body {
    /* background-color: var(--color1); */
    color: var(--color4);
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: var(--color2);
}

.navbar-custom {
    background-color: var(--color2);
}

.navbar-custom ul {
    background-color: var(--color2);
}

.navbar-custom a {
    color: var(--color4)!important;
}

#particles-js {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
}

.footer ul {
    list-style: none;
}

.footer ul li a {
    color: var(--color4);
    text-decoration: none;
}

.bold-head {
    font-weight: 200;
}

.typewriter {
    display: inline-block;
}

.text-typewriter {
    color: var(--color4);
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: typing 5s steps(30) infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

.text-typewriter::after {
    content: '|'; /* Cursor */
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
